[submodule "themes/paperwhite"]
	path = themes/paperwhite
	url = https://github.com/aeilot/hexo-theme-paperwhite
[submodule "themes/next"]
	path = themes/next
	url = git@github.com:theme-next/hexo-theme-next.git
