[submodule "themes/toxic"]
	path = themes/toxic
	url = git@github.com:sakurawald/hexo-theme-toxic.git
[submodule "themes/hexo-theme-toxic"]
	path = themes/hexo-theme-toxic
	url = git@github.com:sakurawald/hexo-theme-toxic.git
